root = true

[*]
charset = utf-8
indent_size = 4
indent_style = space
trim_trailing_whitespace = true

[*.{css,scss,sass,styl,less}]
charset = utf-8
indent_size = 2

[*.{md,markdown}]
trim_trailing_whitespace = false