:root {
  --color-text: #404040;
  --color-icons: #a6a6a6;
  --color-border: #ccc;
  --color-primary: #017177;
  --color-secondary: #00afa9;
  --color-tertiary: #caffe2;
  --color-info: #f6fbfe;
  --color-info-dark: #209cee;
  --color-info-darken: #12537e;
  --color-warning: #fffdf5;
  --color-warning-dark: #ffdd57;
  --color-warning-darken: #7b6302;
  --color-success: #f6fef9;
  --color-success-dark: #23d160;
  --color-success-darken: #0c612a;
  --space-between-tags: 1.5rem;
  --font-family-icons: 'Icons';
}

::selection {
  background: var(--color-tertiary);
}

.body {
  &.has-overlay {
    overflow: hidden;
  }
}

.s-docs {
  color: var(--color-text);
  line-height: 2;

  blockquote:not(:last-child),
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  iframe:not(:last-child),
  img:not(:last-child),
  p:not(:last-child),
  picture:not(:last-child),
  table:not(:last-child),
  video:not(:last-child),
  ul:not(:last-child),
  ol:not(:last-child),
  figure:not(:last-child) {
    margin-bottom: var(--space-between-tags);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
    line-height: 1.4;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.75em;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.25em;
  }

  h5 {
    font-size: 1.125em;
  }

  h6 {
    font-size: 1em;
  }

  h1:not(:first-child),
  h2:not(:first-child),
  h3:not(:first-child),
  h4:not(:first-child),
  h5:not(:first-child),
  h6:not(:first-child) {
    margin-top: calc(var(--space-between-tags) * 2);
  }

  ul li + li,
  ol li + li {
    margin-top: 0.5rem;
  }

  ul li::before,
  ol li::before {
    content: "-";
    margin-right: 0.5em;
    color: var(--color-secondary);
    font-weight: 500;
  }

  ol {
    counter-reset: orderList;
  }

  ol li::before {
    counter-increment: orderList;
    content: counter(orderList) ".";
    margin-right: 0.25em;
  }

  a {
    font-weight: 500;
    transition: all 0.3s;
    color: var(--color-secondary);

    &.is-active,
    &:active,
    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }

  table {
    width: 100%;
    overflow-x: auto;
    display: block;
  }

  th {
    text-align: left;
    background-color: #f2f2f2;
  }

  th,
  td {
    padding: 0.25rem 1rem;
    border-bottom: 0.0625rem solid var(--color-border);
  }

  code {
    background-color: #f2f2f2;
    padding: 0.25rem;
    color: #ff3860;
    font-family: monospace;
  }

  pre code {
    color: inherit;
    background-color: transparent;
  }
}
