/* -----------------------------------------------------------------------------
 * SHADOWS
 */

@mixin f-shadows {
  --shadow-distant: 0 #{em(2px)} #{em(8px)} rgba(0, 0, 0, 0.25);
  --shadow-close: 0 #{em(1px)} #{em(2px)} 0 rgba(0, 0, 0, 0.25);
  --shadow-subtle: 0 0 #{em(1px)} #{em(1px)} rgba(0, 0, 0, 0.25);
}

// Map

$f-shadows: (
  'distant': var(--shadow-distant),
  'close': var(--shadow-close),
  'subtle': var(--shadow-subtle)
) !default;
