/* -----------------------------------------------------------------------------
 * DOCUMENT
 */

html {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-body);
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
