@font-face {
  font-family: 'Icons';
  src:
    url('~@/assets/fonts/icons.woff2') format('woff2'),
    url('~@/assets/fonts/icons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@mixin f-icons {
  --icon-info: "\e92a";
  --icon-information: "\e95f";
  --icon-pdf: "\e975";
  --icon-eks: "\e941";
  --icon-eks-rounded: "\e931";
  --icon-check: "\e940";
  --icon-check-rounded: "\e98f";
  --icon-check-rounded-fill: "\e93b";
  --icon-check-premium: "\e9bd";
  --icon-check-heart: "\e9c5";
  --icon-question: "\e945";
  --icon-phone: "\e944";
  --icon-phone-info: "\e92d";
  --icon-phone-support: "\e9ba";
  --icon-phone-support-24: "\e99f";
  --icon-award: "\e942";
  --icon-moon: "\e93e";
  --icon-bus: "\e93a";
  --icon-coach: "\e94c";
  --icon-table-clock: "\e97f";
  --icon-clock-thin: "\e937";
  --icon-clock: "\e9a4";
  --icon-clock-sync: "\e9a3";
  --icon-clock-loop: "\e9a6";
  --icon-clock-past: "\e919";
  --icon-clock-money: "\e9e3";
  --icon-point-arrow: "\e936";
  --icon-train: "\e935";
  --icon-train-station: "\e94e";
  --icon-video: "\e934";
  --icon-play: "\e982";
  --icon-play-fill: "\e988";
  --icon-expand: "\e933";
  --icon-chat: "\e92e";
  --icon-filter: "\e92c";
  --icon-remove-filter: "\e985";
  --icon-download-file: "\e929";
  --icon-medal: "\e927";
  --icon-page-configuration: "\e928";
  --icon-edit: "\e926";
  --icon-plane: "\e907";
  --icon-plane-plus: "\e9d2";
  --icon-plane-right-fill: "\e983";
  --icon-plane-taking-off: "\e924";
  --icon-plane-taking-off-airport: "\e94f";
  --icon-hand-with-star: "\e923";
  --icon-hand-with-star-fill: "\e9cd";
  --icon-bed: "\e922";
  --icon-heart: "\e91e";
  --icon-heart-fill: "\e91f";
  --icon-location: "\e904";
  --icon-location-fill: "\e91c";
  --icon-location-here: "\e98e";
  --icon-location-here-fill: "\e9b9";
  --icon-location-map: "\e99c";
  --icon-distance: "\e9c0";
  --icon-distance-world: "\e9da";
  --icon-lens: "\e91b";
  --icon-lens-refresh: "\e925";
  --icon-lens-world: "\e98b";
  --icon-world-search: "\e98d";
  --icon-avatar: "\e91a";
  --icon-shield: "\e918";
  --icon-double-bed: "\e915";
  --icon-bike: "\e914";
  --icon-calendar: "\e910";
  --icon-bust: "\e9dc";
  --icon-person: "\e93f";
  --icon-adult: "\e93d";
  --icon-child: "\e93c";
  --icon-smile-face: "\e95b";
  --icon-confused-face: "\e930";
  --icon-worried-face: "\e92f";
  --icon-grid-view: "\e920";
  --icon-chevron-right: "\e91d";
  --icon-angle-left: "\e9f3";
  --icon-angle-right: "\e9f4";
  --icon-angle-top: "\e9f5";
  --icon-angle-down: "\e9f6";
  --icon-arrow-down: "\e916";
  --icon-arrow-down-bordered: "\e917";
  --icon-book: "\e913";
  --icon-bubble: "\e911";
  --icon-bubble-user: "\e912";
  --icon-planet: "\e90f";
  --icon-cross: "\e90e";
  --icon-cutlery: "\e90d";
  --icon-document: "\e90c";
  --icon-first-aid-kit: "\e90b";
  --icon-lifebouoy: "\e90a";
  --icon-list-view: "\e909";
  --icon-envelope: "\e9a7";
  --icon-envelope-thin: "\e908";
  --icon-plus: "\e906";
  --icon-share: "\e905";
  --icon-share-fill: "\e9a8";
  --icon-to-share: "\e903";
  --icon-star: "\e902";
  --icon-star-fill: "\e901";
  --icon-key: "\e95c";
  --icon-key-turned: "\e95d";
  --icon-tea-cup: "\e900";
  --icon-facebook: "\e94a";
  --icon-twitter: "\e949";
  --icon-google-plus: "\e948";
  --icon-instagram: "\e947";
  --icon-linkedin: "\e946";
  --icon-youtube: "\e939";
  --icon-youtube-wordmark: "\e999";
  --icon-bunch-grape: "\e965";
  --icon-graduation-cap: "\e964";
  --icon-cup: "\e962";
  --icon-anchor: "\e961";
  --icon-hotel: "\e960";
  --icon-little-prince: "\e95e";
  --icon-golf: "\e95a";
  --icon-monument: "\e959";
  --icon-ruins: "\e958";
  --icon-museum: "\e957";
  --icon-magic-bar: "\e956";
  --icon-theater: "\e955";
  --icon-leafs: "\e953";
  --icon-medical-center: "\e952";
  --icon-casino-chip: "\e951";
  --icon-island: "\e950";
  --icon-meeting: "\e94d";
  --icon-credit-cards: "\e972";
  --icon-paypal: "\e971";
  --icon-sofort: "\e970";
  --icon-arround-arrow: "\e96f";
  --icon-scale: "\e96e";
  --icon-disabled: "\e96d";
  --icon-edit-user: "\e96c";
  --icon-cog: "\e96b";
  --icon-add-file: "\e96a";
  --icon-trash: "\e969";
  --icon-budget: "\e968";
  --icon-budget-euro: "\e9d5";
  --icon-bars: "\e967";
  --icon-camera: "\e94b";
  --icon-floater: "\e974";
  --icon-brochure: "\e973";
  --icon-visa: "\e976";
  --icon-bell: "\e977";
  --icon-bell-2: "\e9d4";
  --icon-cloudy: "\e980";
  --icon-highway: "\e97e";
  --icon-documentation: "\e97d";
  --icon-thunderbolt: "\e97c";
  --icon-wallet: "\e97b";
  --icon-rates: "\e979";
  --icon-special-arrow: "\e921";
  --icon-bullet: "\e978";
  --icon-logout: "\e981";
  --icon-light-bulb: "\e984";
  --icon-padlock: "\e987";
  --icon-padlock-open-fill: "\e9b1";
  --icon-padlock-close-fill: "\e9b0";
  --icon-percent: "\e986";
  --icon-thumbs-up: "\e98c";
  --icon-language: "\e98a";
  --icon-time-flies: "\e990";
  --icon-tag: "\e991";
  --icon-order-ascending: "\e997";
  --icon-order-descending: "\e996";
  --icon-hostel: "\e995";
  --icon-bunk: "\e994";
  --icon-apartment: "\e993";
  --icon-reception: "\e992";
  --icon-blog: "\e998";
  --icon-shopping-bag: "\e938";
  --icon-shopping-bags: "\e963";
  --icon-briefcase: "\e9bf";
  --icon-bag: "\e9dd";
  --icon-luggage: "\e943";
  --icon-transport-luggage: "\e932";
  --icon-luggage-included: "\e99b";
  --icon-luggage-not-included: "\e99a";
  --icon-luggage-preferential: "\e9ac";
  --icon-parking: "\e99d";
  --icon-pay-with-card: "\e9a2";
  --icon-inbox: "\e9a1";
  --icon-touch: "\e9a0";
  --icon-amazon-pay: "\e9a5";
  --icon-seat: "\e9b4";
  --icon-bus-seat: "\e9d7";
  --icon-bus-seat-fill: "\e9ad";
  --icon-airplane-seat: "\e9ab";
  --icon-gift: "\e9aa";
  --icon-link: "\e9ae";
  --icon-rq: "\e9af";
  --icon-sync: "\e9b2";
  --icon-free-night: "\e9b3";
  --icon-drag: "\e9b5";
  --icon-bag-money: "\e9b8";
  --icon-eye: "\e9c8";
  --icon-agreement: "\e9b6";
  --icon-xml: "\e9bc";
  --icon-sun: "\e9be";
  --icon-sun-fill: "\e9c7";
  --icon-tax: "\e9c6";
  --icon-coins: "\e9c2";
  --icon-plug: "\e9c1";
  --icon-jolidey: "\e9ca";
  --icon-quelonea: "\e9c9";
  --icon-quality-quelonea: "\e9cb";
  --icon-caribbean-premium: "\e9cc";
  --icon-home: "\e9d3";
  --icon-more-65: "\e9d1";
  --icon-more-60: "\e9d0";
  --icon-more-59: "\e9cf";
  --icon-more-55: "\e9ce";
  --icon-less: "\e9d6";
  --icon-target: "\e9db";
  --icon-breakdown: "\e9d9";
  --icon-travel-book: "\e9d8";
  --icon-calculator: "\e9de";
  --icon-exclamation: "\e9e0";
  --icon-warning: "\e9df";
  --icon-hand-coin: "\e9e6";
  --icon-bills: "\e9e5";
  --icon-online-transfer: "\e9e4";
  --icon-office: "\e9e2";
  --icon-www: "\e989";
  --icon-cash-payment: "\e9e1";
  --icon-travel: "\e9ec";
  --icon-success-person: "\e9eb";
  --icon-professional-person: "\e9ea";
  --icon-price-label: "\e9e9";
  --icon-customer-review: "\e9e7";
  --icon-muchoviaje: "\e9e8";
  --icon-sound: "\e9ed";
  --icon-min-sound: "\e9f2";
  --icon-max-sound: "\e9f1";
  --icon-mute-sound: "\e9f0";
  --icon-stop-sound: "\e9ef";
  --icon-repeat-sound: "\e9ee";
  --icon-flight-hotel: "\ea00";
}

// Map

$f-icons: (
  'info' : var(--icon-info),
  'information' : var(--icon-information),
  'pdf' : var(--icon-pdf),
  'eks': var(--icon-eks),
  'eks-rounded': var(--icon-eks-rounded),
  'check': var(--icon-check),
  'check-rounded': var(--icon-check-rounded),
  'check-rounded-fill': var(--icon-check-rounded-fill),
  'check-premium': var(--icon-check-premium),
  'check-heart': var(--icon-check-heart),
  'question': var(--icon-question),
  'phone': var(--icon-phone),
  'phone-info': var(--icon-phone-info),
  'phone-support': var(--icon-phone-support),
  'phone-support-24': var(--icon-phone-support-24),
  'award': var(--icon-award),
  'moon': var(--icon-moon),
  'bus': var(--icon-bus),
  'coach': var(--icon-coach),
  'shopping-bag': var(--icon-shopping-bag),
  'briefcase': var(--icon-briefcase),
  'bag': var(--icon-bag),
  'table-clock': var(--icon-table-clock),
  'clock-thin': var(--icon-clock-thin),
  'clock': var(--icon-clock),
  'clock-sync': var(--icon-clock-sync),
  'clock-loop': var(--icon-clock-loop),
  'clock-past': var(--icon-clock-past),
  'clock-money': var(--icon-clock-money),
  'point-arrow': var(--icon-point-arrow),
  'train': var(--icon-train),
  'train-station': var(--icon-train-station),
  'video': var(--icon-video),
  'play': var(--icon-play),
  'play-fill': var(--icon-play-fill),
  'expand': var(--icon-expand),
  'chat': var(--icon-chat),
  'filter': var(--icon-filter),
  'remove-filter': var(--icon-remove-filter),
  'download-file': var(--icon-download-file),
  'medal': var(--icon-medal),
  'page-configuration': var(--icon-page-configuration),
  'edit': var(--icon-edit),
  'plane': var(--icon-plane),
  'plane-plus': var(--icon-plane-plus),
  'plane-right-fill': var(--icon-plane-right-fill),
  'plane-taking-off': var(--icon-plane-taking-off),
  'plane-taking-off-airport': var(--icon-plane-taking-off-airport),
  'hand-with-star': var(--icon-hand-with-star),
  'hand-with-star-fill': var(--icon-hand-with-star-fill),
  'bed': var(--icon-bed),
  'heart': var(--icon-heart),
  'heart-fill': var(--icon-heart-fill),
  'location': var(--icon-location),
  'location-fill': var(--icon-location-fill),
  'location-here': var(--icon-location-here),
  'location-here-fill': var(--icon-location-here-fill),
  'location-map': var(--icon-location-map),
  'distance': var(--icon-distance),
  'distance-world': var(--icon-distance-world),
  'lens': var(--icon-lens),
  'lens-refresh': var(--icon-lens-refresh),
  'lens-world': var(--icon-lens-world),
  'world-search': var(--icon-world-search),
  'avatar': var(--icon-avatar),
  'shield': var(--icon-shield),
  'double-bed': var(--icon-double-bed),
  'bike': var(--icon-bike),
  'chevron-right': var(--icon-chevron-right),
  'calendar': var(--icon-calendar),
  'bust': var(--icon-bust),
  'person': var(--icon-person),
  'adult': var(--icon-adult),
  'child': var(--icon-child),
  'smile-face': var(--icon-smile-face),
  'confused-face': var(--icon-confused-face),
  'worried-face': var(--icon-worried-face),
  'angle-left': var(--icon-angle-left),
  'angle-right': var(--icon-angle-right),
  'angle-top': var(--icon-angle-top),
  'angle-down': var(--icon-angle-down),
  'special-arrow': var(--icon-special-arrow),
  'bullet': var(--icon-bullet),
  'grid-view': var(--icon-grid-view),
  'arrow-down': var(--icon-arrow-down),
  'arrow-down-bordered': var(--icon-arrow-down-bordered),
  'book': var(--icon-book),
  'bubble': var(--icon-bubble),
  'bubble-user': var(--icon-bubble-user),
  'planet': var(--icon-planet),
  'cross': var(--icon-cross),
  'cutlery': var(--icon-cutlery),
  'document': var(--icon-document),
  'first-aid-kit': var(--icon-first-aid-kit),
  'lifebouoy': var(--icon-lifebouoy),
  'list-view': var(--icon-list-view),
  'envelope': var(--icon-envelope),
  'envelope-thin': var(--icon-envelope-thin),
  'plus': var(--icon-plus),
  'share': var(--icon-share),
  'share-fill': var(--icon-share-fill),
  'to-share': var(--icon-to-share),
  'star': var(--icon-star),
  'star-fill': var(--icon-star-fill),
  'tea-cup': var(--icon-tea-cup),
  'facebook': var(--icon-facebook),
  'twitter': var(--icon-twitter),
  'google-plus': var(--icon-google-plus),
  'instagram': var(--icon-instagram),
  'linkedin': var(--icon-linkedin),
  'youtube': var(--icon-youtube),
  'youtube-wordmark': var(--icon-youtube-wordmark),
  'bunch-grape': var(--icon-bunch-grape),
  'graduation-cap': var(--icon-graduation-cap),
  'shopping-bags': var(--icon-shopping-bags),
  'cup': var(--icon-cup),
  'anchor': var(--icon-anchor),
  'hotel': var(--icon-hotel),
  'little-prince': var(--icon-little-prince),
  'key': var(--icon-key),
  'key-turned': var(--icon-key-turned),
  'golf': var(--icon-golf),
  'monument': var(--icon-monument),
  'ruins': var(--icon-ruins),
  'museum': var(--icon-museum),
  'magic-bar': var(--icon-magic-bar),
  'theater': var(--icon-theater),
  'leafs': var(--icon-leafs),
  'medical-center': var(--icon-medical-center),
  'casino-chip': var(--icon-casino-chip),
  'island': var(--icon-island),
  'meeting': var(--icon-meeting),
  'credit-cards': var(--icon-credit-cards),
  'paypal': var(--icon-paypal),
  'sofort': var(--icon-sofort),
  'arround-arrow': var(--icon-arround-arrow),
  'scale': var(--icon-scale),
  'disabled': var(--icon-disabled),
  'edit-user': var(--icon-edit-user),
  'cog': var(--icon-cog),
  'add-file': var(--icon-add-file),
  'trash': var(--icon-trash),
  'budget': var(--icon-budget),
  'budget-euro': var(--icon-budget-euro),
  'bars': var(--icon-bars),
  'camera': var(--icon-camera),
  'floater': var(--icon-floater),
  'brochure': var(--icon-brochure),
  'visa': var(--icon-visa),
  'bell': var(--icon-bell),
  'bell-2': var(--icon-bell-2),
  'cloudy': var(--icon-cloudy),
  'highway': var(--icon-highway),
  'documentation': var(--icon-documentation),
  'thunderbolt': var(--icon-thunderbolt),
  'wallet': var(--icon-wallet),
  'rates': var(--icon-rates),
  'logout': var(--icon-logout),
  'www': var(--icon-www),
  'light-bulb': var(--icon-light-bulb),
  'padlock': var(--icon-padlock),
  'padlock-open-fill': var(--icon-padlock-open-fill),
  'padlock-close-fill': var(--icon-padlock-close-fill),
  'percent': var(--icon-percent),
  'thumbs-up': var(--icon-thumbs-up),
  'language': var(--icon-language),
  'travel': var(--icon-travel),
  'time-flies': var(--icon-time-flies),
  'tag': var(--icon-tag),
  'order-ascending': var(--icon-order-ascending),
  'order-descending': var(--icon-order-descending),
  'hostel': var(--icon-hostel),
  'bunk': var(--icon-bunk),
  'apartment': var(--icon-apartment),
  'reception': var(--icon-reception),
  'blog': var(--icon-blog),
  'luggage': var(--icon-luggage),
  'transport-luggage': var(--icon-transport-luggage),
  'luggage-included': var(--icon-luggage-included),
  'luggage-not-included': var(--icon-luggage-not-included),
  'luggage-preferential': var(--icon-luggage-preferential),
  'parking': var(--icon-parking),
  'pay-with-card': var(--icon-pay-with-card),
  'inbox': var(--icon-inbox),
  'touch': var(--icon-touch),
  'amazon-pay': var(--icon-amazon-pay),
  'seat': var(--icon-seat),
  'bus-seat': var(--icon-bus-seat),
  'bus-seat-fill': var(--icon-bus-seat-fill),
  'airplane-seat': var(--icon-airplane-seat),
  'gift': var(--icon-gift),
  'link': var(--icon-link),
  'rq': var(--icon-rq),
  'sync': var(--icon-sync),
  'free-night': var(--icon-free-night),
  'drag': var(--icon-drag),
  'bag-money': var(--icon-bag-money),
  'eye': var(--icon-eye),
  'agreement': var(--icon-agreement),
  'xml': var(--icon-xml),
  'sun': var(--icon-sun),
  'sun-fill': var(--icon-sun-fill),
  'tax': var(--icon-tax),
  'coins': var(--icon-coins),
  'plug': var(--icon-plug),
  'jolidey': var(--icon-jolidey),
  'quelonea': var(--icon-quelonea),
  'quality-quelonea': var(--icon-quality-quelonea),
  'caribbean-premium': var(--icon-caribbean-premium),
  'home': var(--icon-home),
  'more-65': var(--icon-more-65),
  'more-60': var(--icon-more-60),
  'more-59': var(--icon-more-59),
  'more-55': var(--icon-more-55),
  'less': var(--icon-less),
  'target': var(--icon-target),
  'breakdown': var(--icon-breakdown),
  'travel-book': var(--icon-travel-book),
  'calculator': var(--icon-calculator),
  'exclamation': var(--icon-exclamation),
  'warning': var(--icon-warning),
  'hand-coin': var(--icon-hand-coin),
  'bills': var(--icon-bills),
  'online-transfer': var(--icon-online-transfer),
  'office': var(--icon-office),
  'cash-payment': var(--icon-cash-payment),
  'success-person': var(--icon-success-person),
  'professional-person': var(--icon-professional-person),
  'price-label': var(--icon-price-label),
  'customer-review': var(--icon-customer-review),
  'muchoviaje': var(--icon-muchoviaje),
  'sound': var(--icon-sound),
  'min-sound': var(--icon-min-sound),
  'max-sound': var(--icon-max-sound),
  'mute-sound': var(--icon-mute-sound),
  'stop-sound': var(--icon-stop-sound),
  'repeat-sound': var(--icon-repeat-sound),
  'flight-hotel': var(--icon-flight-hotel)
) !default;

.c-icon {
  --c-icon-color: currentColor;
  --c-icon-font-family: 'Icons';

  @include f-icons;

  font-family: var(--c-icon-font-family);
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: block;

  @each $class, $icon in $f-icons {
    &--#{$class} {
      --c-icon-unicode: #{$icon};

      &::before {
        content: var(--c-icon-unicode);
        color: var(--c-icon-color, currentColor);
      }
    }
  }
}
